
body {
	background-color: #00003f;
	color: white;
	border-left:0px;
	border-top:0px;
	border-right:0px;
	border-bottom:0px;
	margin-top: 5px;
	margin-left:10px;
	margin-right: 5px;
	margin-bottom: 0px;
}
table {
	border-left:0px;
	border-top:0px;
	border-right:0px;
	border-bottom:0px;
	margin-top:7px;
	margin-left:0px;
	margin-right: 0px;
	margin-bottom: 0px;
}	
img {
	border-left:0px;
	border-top:0px;
	border-right:0px;
	border-bottom:0px;
	margin-top:0px;
	margin-left:0px;
	margin-right: 10px;
	margin-bottom: 0px;
}
p,td,h1,h2,h3,h4,ul{color:white;}



