
BODY {
	background-color:black;
	color:white;
	margin-top:		5px;
	margin-bottom:		0px;
}
TABLE {
	line-height:		20px;
	background-color:	black;
	border-left: 		1px solid #808080;
	border-top: 		1px solid white;
	border-right: 		1px solid #808080;
	border-bottom: 		1px solid #808080;
	cell-spacing: 		0px; 
	margin-top:		0px;
	margin-bottom:		0px;
	padding: 		0px;	
}

TD {
	color:			white;
	background-color:	black;
	border-left: 		1px solid #808080;
	border-top: 		1px solid #808080;
	border-right: 		1px solid #808080;
	border-bottom: 		1px solid white;
	margin-left: 		0px;
	margin-right:		0px;
	margin-top:		0px;
	margin-bottom:		0px;
	padding-top: 		3px;
	padding-left:		0px;
	padding-right:		0px
	padding-bottom:		0px;
}

IMG{
	border-left: 		0px;
	border-top: 		0px;
	border-right: 		0px;
	border-bottom: 		0px;
}
P{
	border-left: 		0px ;
	border-top: 		0px ;
	border-right: 		0px ;
	border-bottom: 		0px ;
	margin-left: 		0px;
	margin-right:		0px;
	margin-top:		0px;
	margin-bottom:		0px;
	padding-top: 		0px;
	padding-left:		0px;
	padding-right:		0px;
	padding-bottom:		0px;
}

A:link {color:yellow}
A:visited {color:orange}
A:active {color:red}
